<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My To-Do List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="sidebar">
      <div class="top-sidebar">
        <a href="#"><i class="fa-solid fa-list-check"></i>Tasks</a>
        <a href="#"><i class="fa-solid fa-layer-group"></i>Categories</a>
        <a href="#"><i class="fa-solid fa-user"></i>Profile</a>
        <a href="#"><i class="fa-solid fa-clock-rotate-left"></i>History</a>
      </div>

      <div class="bottom-sidebar">
        <a href="#"><i class="fa-solid fa-trash"></i>Trash</a>
        <a href="#"><i class="fa-solid fa-gear"></i>Settings</a>
        <a href="#"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
      </div>
    </div>

  </body>
</html>
