{% extends "index.html" %}
{% block content %}
<div class="taskContainer">
    <a href="{{ url_for('index') }}"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="title"> 
        <h2>Julie's Birthday</h2>
        <label class="category"></label>
    </div>
    <div class="description">
        <textarea placeholder="Add a description here..."></textarea> 
    </div>

    <div class="check-all">
        <label for="" class="checkbox">
            <input type="checkbox"/>
        </label>
        <button class="delete"> Delete all <a href="" class="deleteIcon"><i class="fa-solid fa-trash-can"></i></a></button>
    </div>

    <div class="subtasks">
        <label for="" class="checkbox">
        <input type="checkbox"> 
        <p>Send invites</p> 
        <a href="" class="icon"><i class="fa-solid fa-trash-can"></i></a>
        </label>
        <br>
        <label for="" class="checkbox">
        <input type="checkbox"> <p>Order cake</p>
        <a href="" class="icon"><i class="fa-solid fa-trash-can"></i></a>
        </label>
        <br>
        <label for="" class="checkbox">
        <input type="checkbox"> <p>Buy outfit</p> 
        <a href="" class="icon"><i class="fa-solid fa-trash-can"></i></a></label>
        <br>
        <label for="" class="checkbox">
        <input type="checkbox"> <p>Shop for food and drinks</p>
        <a href="" class="icon"><i class="fa-solid fa-trash-can"></i></a>
        </label>
        <br>
        <label for="" class="checkbox">
        <input type="checkbox"> <p>Create birthday party playlist</p>
        <a href="" class="icon"><i class="fa-solid fa-trash-can"></i></a>
        </label>
        <br>
    </div>
    <div class="addSubtask">
        <input type="text" placeholder="Add a new list item" >
        <button class="inputButton">Add</button>
    </div>
</div>

{% endblock %}





