<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
</head>

<body class="min-h-screen flex items-center justify-center bg-gray-100">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="flash-container" class="fixed top-6 left-1/2 -translate-x-1/2 z-50">
      {% for message in messages %}
        <div class="flash-message bg-red-500 text-white px-4 py-2 rounded-md shadow-md mb-2">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

  <div class="bg-gray-100 w-full max-w-md rounded-2xl p-10">

    <div class="text-center">
      <h2 class="text-xl font-semibold">
        <span class="text-blue-600">Ongea</span>
        <span class="text-gray-900">Task</span>
      </h2>
    </div>

    <h1 class="text-2xl font-semibold text-center text-gray-900 mt-4">
      Welcome Back!
    </h1>

    <form class="mt-6" method="post">
      <input
        type="text"
        name="username"
        placeholder="Email"
        required
        class="w-full bg-white rounded-md border border-gray-300 px-4 py-3 mt-3"
      />

      <input
        type="password"
        name="password"
        placeholder="Enter your password"
        required
        class="w-full bg-white rounded-md border border-gray-300 px-4 py-3 mt-4"
      />

      <div class="flex justify-end mt-2">
        <a href="{{ url_for('auth.forgot_password') }}"
           class="text-sm text-blue-600 underline">
          Forgot password?
        </a>
      </div>

      <button
        type="submit"
        class="block mx-auto bg-blue-600 text-white py-3 px-10 rounded-md mt-6"
      >
        Log in
      </button>
    </form>

    <div class="mt-8 text-center">
      <p>
        Don't have an account?
        <a href="{{ url_for('auth.signup') }}" class="text-blue-600 underline">
          Sign up
        </a>
      </p>
    </div>

  </div>


 <script> 
  setTimeout(() => {
    const flashes = document.querySelectorAll(".flash-message");
    flashes.forEach(flash => {
      flash.style.transition = "opacity 0.5s ease";
      flash.style.opacity = "0";
      setTimeout(() => flash.remove(), 500);
    });
  }, 2000); 
</script>

</body>
</html>