{% extends "index.html" %}

{% block content %}
<div class="profile-page">
  <h2 class="profile-title">Profile</h2>

  <div class="profile-image-container">
    <img 
    src="{{ url_for('static', filename='/images/profile.png') }}" 
    alt="Profile" 
    class="profile-image" />
  </div>

  <form class="profile-form">
    <div class="form-group">
      <label for="username">Username</label>
      <div class ="input-wrapper">
        <input type="text" id="username" value="username1" />
        <span class="edit-icon">&#9998;</span>
      </div>
    </div>

    <div class="form-group">
      <label for="firstname">First Name</label>
      <div class ="input-wrapper">
        <input type="text" id="firstname" value="Jane" />
        <span class="edit-icon">&#9998;</span>
      </div>
    </div>

    <div class="form-group">
      <label for="lastname">Last Name</label>
      <div class ="input-wrapper">
        <input type="text" id="lastname" value="Doe" />
        <span class="edit-icon">&#9998;</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <div class ="input-wrapper">
        <input type="email" id="email" value="jdoe@email.com" />
        <span class="edit-icon">&#9998;</span>
      </div>
    </div>
  </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  
  const editIcons = document.querySelectorAll(".edit-icon");

  editIcons.forEach(function (icon) {
    icon.addEventListener("click", function () {
      
      const input = this.parentElement.querySelector("input");
      if (input) {
        input.removeAttribute("readonly");
        input.focus();
      }
    });
  });

  
  const inputs = document.querySelectorAll(".profile-form input");
  inputs.forEach(function (input) {
    input.setAttribute("readonly", true);
  });
});
</script>
{% endblock %}