{% extends "index.html" %}
{% block content %}
<h1>Tasks</h1>
{% for task in tasks %}
<div>
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <p>Status: {{ 'Completed' if task.completed else 'Pending' }}</p>
</div>
<div>
    {{ form.due_date.label(class="block font-medium") }}
    {{ form.due_date(class="border rounded p-2 w-full") }}
</div>

<div>
    {{ form.estimated_minutes.label(class="block font-medium") }}
    {{ form.estimated_minutes(class="border rounded p-2 w-full", placeholder="Example: 30") }}
</div>

<div>
    {{ form.category_id.label(class="block font-medium") }}
    {{ form.category_id(class="border rounded p-2 w-full") }}
</div>

{% endfor %}


{% endblock %}